fastapi==0.115.5
uvicorn==0.32.1
python-multipart==0.0.12
python-dotenv==1.0.1
pymupdf==1.24.14
langchain==0.3.9
langchain-groq==0.2.1
langchain-community==0.3.9
langchain-huggingface==0.1.2
sentence-transformers==3.3.1
faiss-cpu==1.9.0
pytesseract==0.3.13
Pillow==11.0.0
pydantic==2.10.3
httpx==0.28.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
aiosqlite==0.20.0
sqlalchemy==2.0.36
